https://github.com/Mahesh0253/pyrogram/archive/inline.zip
TgCrypto
motor
aiofiles
dnspython
psutil
sqlalchemy
aiohttp
pymongo[srv]
bs4
heroku3
validators
python-dotenv
click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
